
body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2 {
    font-family: Avenir, Montserrat, Roboto, sans-serif;
}

header {
    font-size: medium;

}

footer {
    background-color: #404040;
    color:#FFFFFF
}

/* Links */
a {
    text-decoration: none;
    color:#FFFFFF
}
  
  nav a {
    color: #404040;
    padding: 10px;
    font-weight: lighter;
 }

 nav {
     display: none;
 }

 #hamburger-menu:checked ~ nav {
     display: block;
 }

#hamburger-menu {
    display: no
}


 header {
     background-color: #FFFFFF;
 } 

 .slogan {
     display: inline-block;
     padding-left: 30px;
     background-color: #404040;
     color: #FFFFFF;
     font-size: large;
     height: 40px;
     width: 1600px;
  }

.floated {
    float: right;
    padding-top: 90px;
    padding-right: 20px;
}

.active {
    color:#0E738C ;
}
nav li {
    display: inline;
    }

.fa-solid fa-magnifying-glass {
    padding-left: 10px;
    padding-right: 10px;
 }   

.fa-solid fa-cart-shopping {
    padding-left: 10px;
    padding-right: 10px;
 }

.logo {
    max-width: 150px;
    padding-top: 20px;
    padding-left:  10px;
    }

.cta {
    background-color: #0E738C;
    color: #fff;
    font-size: 1em;
    padding: 10px 40px;
    border-radius: 5px;
        
 }    

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-top: 200px
    max-height: max-content;
    text-decoration: none;
}

.item {
    flex: 2;
}

.one {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1,5rem;
  
}

.two {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1,5rem;
  
}

.copy {
    display: inline-block;
    position: center;
    padding-left: 550px;
    padding-top: 40px;
}



/* Home page */
.welcome {
    max-width: 1600px;
    min-height: 600px;
    background-image: url("/images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-left:30px solid white;
    border-right:30px solid white;
    border-bottom:30px solid white;
   }

.welcome_content {
    position: relative;
    top: 400px;
    text-align: center;
    left: 100px;
  }

.trees {
    display: flex;
    gap: 20px;
    font-size: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: bolder;
    color: #FFFFFF;
    min-height: 400px;
    background-image: url("/images/trees-desktop.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
 } 


 .link {
    flex-flow: column;
    

 }

.link1 {
    flex-basis: auto 1fr;
    position: relative;
    max-width: 400px;
    min-height: 600px;
    background-image: url("/images/home-jackets-women.jpg");
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    color:#FFFFFF;
}

.link2 {
    flex-basis: 1fr auto;
    background-image: url("/images/home-jacket-men.jpg");
    background-repeat: no-repeat;
    max-width: 400px;
    min-height: 600px;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    color:#FFFFFF;
}

.about {
    display:flex;
    min-height: 500px;
    min-width: 500px;
    padding-top: 100px;
    padding-left: 200px;
    color:#404040
}

/* About page */

h1 {
    color: #0E738C;
    padding-left: 150px;
    padding-top: 30px;
}
 
.text {
    display: flex;
    flex: 8;

}

.text-image-container {

}
 {
    background-image: url("/images/about/about-us-background.jpg");
    background-repeat: no-repeat;
    position: relative;
    max-width: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    padding-left: 200px;
    padding-bottom: 50px;
    padding-top: 100px;
}

.add-info {
    display: flex;
    gap: 50px;
   
}













 @media only screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}









    





  


